<div class="container my-5">
  <h1 class="mb-3">New Review for <%= @restaurant.name %></h1>
  <div class="row justify-content-center">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.submit "Submit review", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
